.itemListContainer-container {
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    padding-top: 80vh;
    background: linear-gradient(#0e2c28, #fff 1%, #fff 20%, #0e2c28 80%);
}